body {
  color: rgb(255, 255, 255);
  background-color: #333333;
}

.stButton > button {
  color: hsl(142, 100%, 81%);
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

.stTextInput > div > div > input {
  color: #faffb3;
}
