body {
  color: rgb(59, 59, 59);
  background-color: #d3d3d3;
}

.stButton > button {
  color: #18d23f;
  height: 10em;
  width: 10em;
}

table {
  color: rgb(228, 160, 82);
}

.stTextInput > div > div > input {
  color: #383838;
}
